# Загрузка Pandas и очистка данных

In [1311]:
import pandas as pd
import numpy as np
from collections import Counter
import re
import datetime
from datetime import datetime

##### Первоначальная версия датасета состоит из десяти столбцов, содержащих следующую информацию:

- Restaurant_id — идентификационный номер ресторана / сети ресторанов;
- City — город, в котором находится ресторан;
- Cuisine Style — кухня или кухни, к которым можно отнести блюда, предлагаемые в ресторане;
- Ranking — место, которое занимает данный ресторан среди всех ресторанов своего города;
- Rating — рейтинг ресторана по данным TripAdvisor (именно это значение должна будет предсказывать модель);
- Price Range — диапазон цен в ресторане;
- Number of Reviews — количество отзывов о ресторане;
- Reviews — данные о двух отзывах, которые отображаются на сайте ресторана;
- URL_TA — URL страницы ресторана на TripAdvosor;
- ID_TA — идентификатор ресторана в базе данных TripAdvisor.

In [1312]:
df = pd.read_csv('main_task.xls')
df.head(20)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
5,id_1418,Oporto,NaN,1419.0,3.0,NaN,2.0,"[['There are better 3 star hotel bars', 'Amazi...",/Restaurant_Review-g189180-d12503536-Reviews-D...,d12503536
6,id_1720,Milan,"['Italian', 'Pizza']",1722.0,4.0,$,50.0,"[['Excellent simple local eatery.', 'Excellent...",/Restaurant_Review-g187849-d5808504-Reviews-Pi...,d5808504
7,id_825,Bratislava,['Italian'],826.0,3.0,NaN,9.0,"[['Wasting of money', 'excellent cuisine'], ['...",/Restaurant_Review-g274924-d3199765-Reviews-Ri...,d3199765
8,id_2690,Vienna,NaN,2692.0,4.0,NaN,NaN,"[[], []]",/Restaurant_Review-g190454-d12845029-Reviews-G...,d12845029
9,id_4209,Rome,"['Italian', 'Pizza', 'Fast Food']",4210.0,4.0,$,55.0,"[['Clean efficient staff', 'Nice little pizza ...",/Restaurant_Review-g187791-d8020681-Reviews-Qu...,d8020681
10,id_6578,Barcelona,NaN,6579.0,3.0,NaN,6.0,"[[], []]",/Restaurant_Review-g187497-d10696479-Reviews-R...,d10696479
11,id_5312,London,"['Italian', 'Pizza', 'Vegetarian Friendly']",5321.0,4.0,$$ - $$$,42.0,"[['Not bad for Canary Wharf', 'To be a pilgrim...",/Restaurant_Review-g186338-d12402429-Reviews-P...,d12402429
12,id_4066,London,"['Italian', 'Pizza', 'Vegetarian Friendly', 'G...",4073.0,3.5,$$ - $$$,286.0,"[['Great service, good za', 'Lovely, relaxed a...",/Restaurant_Review-g186338-d2259559-Reviews-Ma...,d2259559
13,id_4637,Berlin,"['Vegetarian Friendly', 'Gluten Free Options']",4639.0,4.5,$$ - $$$,10.0,"[['What a great spot!', 'Healthy superfoods, v...",/Restaurant_Review-g187323-d12107166-Reviews-L...,d12107166
14,id_4773,Madrid,"['Mediterranean', 'Spanish', 'Healthy']",4776.0,4.0,$$ - $$$,7.0,"[[], []]",/Restaurant_Review-g187514-d10859423-Reviews-B...,d10859423
15,id_1401,Dublin,['Cafe'],1405.0,4.0,$$ - $$$,28.0,"[['Lovely food', 'Great coffee'], ['12/01/2017...",/Restaurant_Review-g186605-d6633059-Reviews-Gr...,d6633059
16,id_5257,Berlin,"['Japanese', 'Asian', 'Thai', 'Vietnamese']",5259.0,4.0,NaN,3.0,"[['This is a real hidden Sushi-gem'], ['04/12/...",/Restaurant_Review-g187323-d10266473-Reviews-A...,d10266473
17,id_11121,London,"['Bar', 'Pub']",11131.0,4.5,$$ - $$$,7.0,"[['gin tour venue', 'Gin Tour'], ['02/28/2017'...",/Restaurant_Review-g186338-d8659568-Reviews-46...,d8659568
18,id_3127,Berlin,['German'],3129.0,4.0,$$ - $$$,12.0,"[['Nice stay, very good hotel', 'great residen...",/Restaurant_Review-g187323-d3702312-Reviews-Al...,d3702312
19,id_2791,Brussels,['Chinese'],2792.0,3.0,$$ - $$$,12.0,"[['Seriously, is this a restaurant?', 'Not tha...",/Restaurant_Review-g947638-d8155327-Reviews-Ho...,d8155327

In [1313]:
df['URL_TA'][2]

'/Restaurant_Review-g186338-d8632781-Reviews-ROKA_Mayfair-London_England.html'

In [1314]:
df['Price Range'].isnull().value_counts()

False    26114
True     13886
Name: Price Range, dtype: int64

In [1315]:
df.columns

Index(['Restaurant_id', 'City', 'Cuisine Style', 'Ranking', 'Rating',
       'Price Range', 'Number of Reviews', 'Reviews', 'URL_TA', 'ID_TA'],
      dtype='object')

На первом этапе удаляем столбцы, чодержащие данные типа object

In [1316]:
#df=df.drop(['ID_TA','URL_TA','Reviews','Price Range','Cuisine Style', 'City'],axis=1)

Теперь заполним пропущенные значения средним арифметическим всего столбца

In [1317]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
Restaurant_id        40000 non-null object
City                 40000 non-null object
Cuisine Style        30717 non-null object
Ranking              40000 non-null float64
Rating               40000 non-null float64
Price Range          26114 non-null object
Number of Reviews    37457 non-null float64
Reviews              40000 non-null object
URL_TA               40000 non-null object
ID_TA                40000 non-null object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [1318]:
#df['Number of Reviews']=df['Number of Reviews'].fillna(df['Number of Reviews'].mean())

Исходя из выше выведенной информации, можно заметить, что пропуски содержат лишь колонки Cuisine Style, Price Range, Number of Reviews

В столбцах Ranking, Rating и Number of Reviews  данные хранятся в числовом формате

Нет стобцов, где данные хранились бы  в списках

In [1319]:
df['Price Range'].value_counts()

$$ - $$$    18412
$            6279
$$$$         1423
Name: Price Range, dtype: int64

In [1320]:
len(df['City'].unique())

31

In [1321]:
kitchen_count=[]
kitchen=[]
for i in df['Cuisine Style'].fillna('lol'):
    l =i[1:-1].replace("'",'').split(', ')
    kitchen_count.append(len(l))
    for inf in l:
        kitchen.append(inf)
maxcount=max(Counter(kitchen),key=Counter(kitchen).get)
len(kitchen)

104896

Избавимся от пропусков в столбце Cuisine Style, оставляя на их месте кухню, которая представлена в наибольшем количестве ресторанов

In [1322]:
for index,info in enumerate(df['Cuisine Style'].isnull()):
    if info==True:
        df['Cuisine Style'].iloc[index]=maxcount

C:\Users\USER\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

Добавим столбец с количествои типов кухонь

In [1323]:
df['Count of Cuisine Style']=kitchen_count

In [1324]:
date=[]
date_count=[]
for a in df['Reviews']:
    date.append(re.findall('\d\d/\d\d/\d{4}',a))
for inf in date:
        for index,i in enumerate(inf):
            inf[index]=datetime.strptime(i, "%m/%d/%Y")
for il in date:
    if len(il)==2:
        delta=max(il)-min(il)
        date_count.append(delta.days)
    else:
        date_count.append(0)
max(date_count)

3207

Добавим столбец с количеством дней между двумя выложенными комментариями Date_Count

In [1325]:
df['Date_Count']=date_count

Добавим столбец с разницей в днях между выставленным комментарием и сегодняшним днем Date_Count_Today

In [1326]:
date_today=[]
for i in date:
    if len(i)==0:
        date_today.append(0)
    elif len(i)==1:
        date_today.append((datetime.today()-i[0]).days)
    else:
        date_today.append((datetime.today()-max(i)).days)
len(date_today)
df['Date_Count_Today']=date_today

Избавимся от прорусков в столбце Number of Reviews, заполнис их средним количеством

In [1327]:
mean_number=df['Number of Reviews'].mean()
for index,i in enumerate(df['Number of Reviews'].isnull()):
    if i==True:
        df['Number of Reviews'].iloc[index]=mean_number
    else:
        continue

Избавимся от пропусков в столбце Price Range. Найдем отсутствующую информацию на сайте ресторана и занесем ее в таблицу

In [1328]:
max_countvalue=df['Price Range'].value_counts().index[0]

for index,info in enumerate(df['Price Range'].isnull()):
    if info==True:
        #Если информация по цене отсутствуем ,то пропуск заполним часто встречающимся значением столбца
        df['Price Range'].iloc[index]=max_countvalue
    else:
        continue

Добавим еще один столбец с информацией о населении города.Так или  иначе данный показатель влияет на рейтинг,посещаемость ресторана

In [1329]:
City_population={'London':8908081,
                'Paris':2148327,
                'Madrid':3266126,
                'Barcelona':1636762,
                'Berlin':3644826,
                 'Milan':1366180,
                 'Rome':2870500, 
                 'Prague':1324277,
                 'Lisbon':506654,
                 'Vienna':1897491,
                 'Amsterdam':860124,
                 'Brussels':185103,
                 'Hamburg':1841179,
                 'Munich':1571508,
                 'Lyon':516092,   
                 'Stockholm':975904,
                 'Budapest':1752286,
                 'Warsaw':1790658,
                 'Dublin':1173179,
                 'Copenhagen':794128,
                 'Athens':664046,  
                 'Edinburgh':513210,
                 'Zurich':434008, 
                 'Oporto':237591,  
                 'Geneva':201818,  
                 'Krakow':779115,  
                 'Oslo':693494,    
                 'Helsinki':643272,
                 'Bratislava':437725,
                 'Luxembourg':626108,
                 'Ljubljana':284355}

In [1330]:
CP=[]
for i in df['City']:
    CP.append(City_population[i])
df['City_Population']=CP

Добавим еще один признак с информацией о ср. зараплатной плате за год в городах

In [1331]:
City_mean_salary={'London':3589075,
                'Paris':5001933,
                'Madrid':1778465,
                'Barcelona':2223081,
                'Berlin':1920000,
                 'Milan':1831819,
                 'Rome':1831819, 
                 'Prague':1222694,
                 'Lisbon':1778465,
                 'Vienna':3076744,
                 'Amsterdam':3223468,
                 'Brussels':4343901,
                 'Hamburg':4191620,
                 'Munich':2462062,
                 'Lyon':4018932,   
                 'Stockholm':2223081,
                 'Budapest':1050406,
                 'Warsaw':1111540,
                 'Dublin':3056737,
                 'Copenhagen':3445776,
                 'Athens':778078,  
                 'Edinburgh':3856560,
                 'Zurich':6117048, 
                 'Oporto':1333848,  
                 'Geneva':4112700,  
                 'Krakow':5508796,  
                 'Oslo':3331956,    
                 'Helsinki':2778852,
                 'Bratislava':1412768,
                 'Luxembourg':4546201,
                 'Ljubljana':1222694}

In [1332]:
CMC=[]
for i in df['City']:
    CMC.append(City_mean_salary[i])
df['City Mean Salary of year']=CMC

In [1333]:
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,Count of Cuisine Style,Date_Count,Date_Count_Today,City_Population,City Mean Salary of year
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,3,41,1036,2148327,5001933
1,id_1535,Stockholm,Vegetarian Friendly,1537.0,4.0,$$ - $$$,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,1,382,1214,975904,2223081
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,7,2,1028,8908081,3589075
3,id_3456,Berlin,Vegetarian Friendly,3458.0,5.0,$$ - $$$,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,1,0,0,3644826,1920000
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,3,272,1079,1571508,2462062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,4,34,1051,1366180,1831819
39996,id_6340,Paris,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,5,9,1046,2148327,5001933
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,$$ - $$$,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,2,3127,1459,975904,2223081
39998,id_640,Warsaw,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,5,23,1209,1790658,1111540
39999,id_4824,Milan,['Spanish'],4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,1,1306,1736,1366180,1831819

Создадим dummy variables

In [1334]:
from sklearn.preprocessing import PolynomialFeatures

In [1335]:
df=pd.merge(df, pd.get_dummies(df.City), left_index=True, right_index=True)

In [1336]:
data=pd.get_dummies(df['Price Range'])
data.columns=['Price Range Low','Price Range Average','Price Range High']
df=pd.merge(df, data, left_index=True, right_index=True)

Добавим столбец с информацией о безработице в стране

In [1337]:
unemployment={'London':3.85,#
                'Paris':8.43,#Франция
                'Madrid':13.96,#Испания
                'Barcelona':13.96,#Испания
                'Berlin':3.04,#Германия
                 'Milan':9.89,#Италия
                 'Rome':9.89, #Италия
                 'Prague':1.93,#Чехия
                 'Lisbon':6.33,#Португалия
                 'Vienna':4.67,#Австрия
                 'Amsterdam':3.2,#Нидерланды
                 'Brussels':5.59,#Бельгия
                 'Hamburg':3.04,#Германия
                 'Munich':3.04,#Германия
                 'Lyon':8.43,   #Франция
                 'Stockholm':6.48,#Швеция
                 'Budapest':3.4,#Венгия
                 'Warsaw':3.47,#Польша
                 'Dublin':4.93,#Ирландия
                 'Copenhagen':4.91,#Дания
                 'Athens':17.24,  #Греция
                 'Edinburgh':4.6,#Шотландия
                 'Zurich':4.58, #Швейцария
                 'Oporto':6.33,  #Португалия
                 'Geneva':4.58,  #Швейцария
                 'Krakow':3.47,  #Польша
                 'Oslo':3.35,    #Норвегия
                 'Helsinki':6.59,#Финляндия
                 'Bratislava':5.56,#Словакия
                 'Luxembourg':5.36,#
                 'Ljubljana':4.2}#Словения

In [1338]:
U=[]
for i in df['City']:
    U.append(unemployment[i])
df['Country Unemployment']=U

Добавим столбец с информацией по турпотоку в ту или иную страну

In [1339]:
country_tourism={'London':37.6,#
                'Paris':86.9,#Франция
                'Madrid':81.7,#Испания
                'Barcelona':81.7,#Испания
                'Berlin':37.4,#Германия
                 'Milan':58.2,#Италия
                 'Rome':58.2, #Италия
                 'Prague':13.665,#Чехия
                 'Lisbon':22.8,#Португалия
                 'Vienna':29.4,#Австрия
                 'Amsterdam':15.867,#Нидерланды
                 'Brussels':9.154,#Бельгия
                 'Hamburg':37.4,#Германия
                 'Munich':37.4,#Германия
                 'Lyon':86.9,   #Франция
                 'Stockholm':7.054,#Швеция
                 'Budapest':17.152,#Венгия
                 'Warsaw':18.4,#Польша
                 'Dublin':10.338,#Ирландия
                 'Copenhagen':11.743,#Дания
                 'Athens':27.1,  #Греция
                 'Edinburgh':4.6,#Шотландия
                 'Zurich':17.003, #Швейцария
                 'Oporto':22.8,  #Португалия
                 'Geneva':17.003,  #Швейцария
                 'Krakow':18.4,  #Польша
                 'Oslo':6.252,    #Норвегия
                 'Helsinki':3.221,#Финляндия
                 'Bratislava':5.415,#Словакия
                 'Luxembourg':5.36,#
                 'Ljubljana':4.425}#Словен

In [1340]:
CT=[]
for i in df['City']:
    CT.append(country_tourism[i])
df['Country Tourism']=CT

Добавим столбец соотношения ретинга каждого ресторана с максимальным

In [1341]:
lst=[]
for i in df['Ranking']:
    lst.append(df['Ranking'].max()/i)
df['Ranring/MAXRanking']=lst

In [1342]:
df.columns

Index(['Restaurant_id', 'City', 'Cuisine Style', 'Ranking', 'Rating',
       'Price Range', 'Number of Reviews', 'Reviews', 'URL_TA', 'ID_TA',
       'Count of Cuisine Style', 'Date_Count', 'Date_Count_Today',
       'City_Population', 'City Mean Salary of year', 'Amsterdam', 'Athens',
       'Barcelona', 'Berlin', 'Bratislava', 'Brussels', 'Budapest',
       'Copenhagen', 'Dublin', 'Edinburgh', 'Geneva', 'Hamburg', 'Helsinki',
       'Krakow', 'Lisbon', 'Ljubljana', 'London', 'Luxembourg', 'Lyon',
       'Madrid', 'Milan', 'Munich', 'Oporto', 'Oslo', 'Paris', 'Prague',
       'Rome', 'Stockholm', 'Vienna', 'Warsaw', 'Zurich', 'Price Range Low',
       'Price Range Average', 'Price Range High', 'Country Unemployment',
       'Country Tourism', 'Ranring/MAXRanking'],
      dtype='object')

Займёмся стандартизацией некоторых столбцов

In [1343]:
from sklearn.preprocessing import StandardScaler

In [1344]:
scaler = StandardScaler()
scaler.fit_transform(df[['Ranking','City Mean Salary of year','Number of Reviews','Ranring/MAXRanking']])

array([[ 0.51068294,  1.58275926,  0.2417762 , -0.09446816],
       [-0.57675915, -0.53675488, -0.40133373, -0.07417925],
       [-0.89600821,  0.5051299 ,  1.96838656,  0.01980664],
       ...,
       [-0.54575101, -0.53675488, -0.42230471, -0.07612988],
       [-0.81835303, -1.38456069, -0.19162397, -0.03501087],
       [ 0.31034338, -0.83518219,  0.47245694, -0.09327797]])

Удаляем столбцы типа Object

In [1345]:
df=df.drop(['ID_TA','URL_TA','Reviews','Price Range','Cuisine Style', 'City','City'],axis=1)

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [1346]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [1347]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [1348]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [1349]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [1350]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [1351]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.2101315